
.LoadingAnimation{
  animation-name: loading;
animation-iteration-count: infinite;
animation-duration:2s;


  }



.outlineText{
    text-shadow: 2px 1px 0 $outlineColor, 2px -1px 0 $outlineColor, -2px 1px 0 $outlineColor, -2px -1px 0 $outlineColor, 2px 0px 0 $outlineColor, 0px 1px 0 $outlineColor, -2px 0px 0 $outlineColor, 0px -1px 0 $outlineColor, 1px 2px 0 $outlineColor, 1px -2px 0 $outlineColor, -1px 2px 0 $outlineColor, -1px -2px 0 $outlineColor, 1px 0px 0 $outlineColor, 0px 2px 0 $outlineColor, -1px 0px 0 $outlineColor, 0px -2px 0 $outlineColor, 1px 1px 0 $outlineColor, 1px -1px 0 $outlineColor, -1px 1px 0 $outlineColor, -1px -1px 0 $outlineColor, 2px 2px 0 $outlineColor, 2px -2px 0 $outlineColor, -2px 2px 0 $outlineColor, -2px -2px 0 $outlineColor, 2px 0px 0 $outlineColor, 0px 2px 0 $outlineColor, -2px 0px 0 $outlineColor, 0px -2px 0 $outlineColor;
}

.outlineTextWhite{
  text-shadow: 2px 1px 0 #FFFFFF, 2px -1px 0 #FFFFFF, -2px 1px 0 #FFFFFF, -2px -1px #FFFFFF, 2px 0px 0 #FFFFFF, 0px 1px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 1px 2px 0 #FFFFFF, 1px -2px 0 #FFFFFF, -1px 2px 0 #FFFFFF, -1px -2px 0 #FFFFFF, 1px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF, 1px 1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, 2px 2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF;
}

.Button {
  background-color:transparent;
padding:1%;

width:fit-content;
white-space: nowrap;
  &:hover{
    cursor: pointer;
    text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF;
    }
    &:active{
      text-shadow: #FFFFFF 0px 0px 5px, #FFFFFF 0px 0px 15px, #FFFFFF 0px 0px 20px, #FFFFFF 0px 0px 30px, #FFFFFF -1px -1px 10px, #FFFFFF -1px 1px 10px, #FFFFFF 1px 1px 10px, #FFFFFF 1px -1px 10px;
    }
}


.disabledButton{
  text-decoration: line-through;
    opacity:0.4;
    color: gray;
    background-color:transparent;
  padding:1%;
  
pointer-events: none;
  width:fit-content;
  white-space: nowrap;
    &:hover{
      cursor: pointer;
      color: rgb(99, 99, 99);
      
      }
      &:active{
        color: rgb(100, 100, 100);
      }
  }


.disabled{
    opacity:0.4;
    
pointer-events: none;
   
  }
  .disabled:hover {
    filter: drop-shadow(0px 0px 0px #000000) 
  }
  .disabled:active {
    filter: drop-shadow(0px 0px 0px #000000) 
  }

  .backdrop-filter{
    display: flex;
    text-align:center;
    backdrop-filter: blur(8px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height:100vh;
   
  }
  .filter-one{
    backdrop-filter: blur(6px);
  }
  .filter-two{
    backdrop-filter: blur(4px);
  }
  .filter-three{
    backdrop-filter: blur(2px);
  }
  .filter-four{
    backdrop-filter: blur(1px);
  }
  .filter-five{
    backdrop-filter: blur(0px);
  }


  .radialwrapper {

    width: 64px;
    height: 64px;
    background-color: transparent;
    border-radius: 1px;
    
  
    box-shadow: inset 0px 0px 20px 32px #FFFFFF;
  }

  .titleText{
display: flex;
justify-content: center;


    padding:1vh;
font-family: 'Special Elite', cursive;
padding-bottom:1vh;
font-size: 4.25vw;
font-weight: 400;
line-height: 2.49740vh;
letter-spacing: 0.2em;
text-align: left;
background-color:transparent;
animation-name: fade-in;
animation-fill-mode:forwards;
animation-duration:3s;

  }

  .loadingText{
  
    font-family: 'Special Elite', cursive;
    margin-top: 2vh;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 2.49740vh;
    letter-spacing: 0.2em;
    
  }

.inactiveText{
  opacity:0;
  color:transparent;
 
pointer-events: none;
}

  .introText{
    display: flex;
    justify-content: center;
    margin-left: 8vw;
    margin-right: 8vw;
    
        padding:1vh;
    font-family: 'Special Elite', cursive;
    padding-bottom:1vh;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 2.49740vh;
    letter-spacing: 0.2em;
    text-align: left;
    background-color:transparent;
   
    
      }

    .introBigText{
      margin-left: 8vw;
      margin-right: 8vw;
            display: flex;
            justify-content: center;
            
            
                padding:1vh;
            font-family: 'Special Elite', cursive;
            padding-bottom:1vh;
            font-size: 1.75vw;
            font-weight: 400;
            line-height: 5.49740vh;
            letter-spacing: 0.2em;
            text-align: left;
            background-color:transparent;
           
            
              }
              .introMedText{
                margin-left: 8vw;
                margin-right: 8vw;
                      display: flex;
                      justify-content: center;
                      
                      
                          padding:1vh;
                      font-family: 'Special Elite', cursive;
                      padding-bottom:1vh;
                      font-size: 1.55vw;
                      font-weight: 400;
                      line-height: 2.69740vh;
                      letter-spacing: 0.2em;
                      text-align: left;
                      background-color:transparent;
                     
                      
                        }
          

              .fadeIn{
                animation-name: fade-in;
                animation-fill-mode:forwards;
                animation-duration:1s;
              }
 div.artistsText{
                display: flex;
                justify-content: left;
                margin-left: 12vw;
                margin-right: 12vw;
                
                    padding:1vh;
                font-family: 'Special Elite', cursive;
                padding-bottom:1vh;
                font-size: 1.25vw;
                font-weight: 400;
                line-height: 2.49740vh;
                letter-spacing: 0.2em;
                text-align: left;
                background-color:transparent;
               
                
                  }

                  div.artistsBigText{
                    display: flex;
                    justify-content: left;
                    margin-left: 12vw;
                    margin-right: 12vw;
                    
                        padding:1vh;
                    font-family: 'Special Elite', cursive;
                    padding-bottom:1vh;
                    font-size: 1.75vw;
                    font-weight: 400;
                    line-height: 5.49740vh;
                    letter-spacing: 0.2em;
                    text-align: left;
                    background-color:transparent;
                   
                    
                      }